################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoApplication/DemoApplication/DemoApplication.csproj.user
/DemoApplication/.vs/config/applicationhost.config
/.vs/VSWorkspaceState.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
